extends html/layout.pug

block content
  h2 Dom
  h3 Ready
  code.
    Chooles.ready(() => alert('ready'));
  button.mt-4.js-test__ready test
  h3 injectScript
  code.
    Chooles.injectScript('https://cdnjs.cloudflare.com/ajax/libs/impress.js/0.5.3/impress.js', 'id');
  h3 closest
  code.
    &lt;div class="foo"&gt;
      <br/>
      &nbsp;&lt;div class="bar"&gt;&lt;/div&gt;
      <br/>
    &lt;/div&gt;
    <br/>
    Chooles.closest(document.querySelector('.bar'), '.foo');
  .foo.border-blue.p-4 div .foo
    .bar.border-pink.p-4 div .bar
      button.mt-4.js-test__closest Click to select closest .foo

  h2 Form
  form.form-test
    input(type='text', name='input', value='foo')
    select(name='select')
      option(value="bar1") bar1
      option(value="bar2") bar2
  h3 serializeFormToJson
  code.
    const json = Chooles.form.serializeFormToJson(document.querySelector('.form-test'));
  button.mt-4.js-test__tojson click to serialize to json
  .result--tojson.border-blue.p-4
  h3 jsonToFormData
  code.
    const json = Chooles.from.jsonToFormData('{ "input": "foo", "select": "bar1" }');
  button.mt-4.js-test__tofd click to serialize to FormData
  .result--tofd.border-blue.p-4
  h3 serializeForm
  code.
    const json = Chooles.from.serializeForm(this.$form);
  button.mt-4.js-test__fromftofd click to serialize to FormData
  .result--fromftofd.border-blue.p-4

  h2 AbstractComponent
  h3 Simple example
  code.
    import Chooles from '@/Chooles';
    <br/>
    <br/>
    export default class Component extends Chooles.AbstractComponent {
    <br/>
      &nbsp;constructor(globals) {
    <br/>
        &nbsp;&nbsp;super(globals, { selector: 'js-component' });
    <br/>
      &nbsp;}
    <br/>
    <br/>
      &nbsp;onInit() {
    <br/>
        &nbsp;&nbsp;this.$component.addEventListener('click', () => {
    <br/>
          &nbsp;&nbsp;&nbsp;alert('I\'m a component'); // eslint-disable-line no-alert
    <br/>
        &nbsp;&nbsp;});
    <br/>
      &nbsp;}
    <br/>
    }
  button.mt-4.js-component click to alert

